*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /* outline: 1px dashed red; */
    color: white;
}
.wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: rgba(38, 81, 117, 0.932);
    padding: 0px; 
}
header img{
    width: 300px;
    padding: 10px;
}
.search_bar {
    display: inline-block;
    margin-left: 390px;
    margin-bottom: 20px;
    text-align: center;
}
.search_bar p{
    font-size: 12px;
}
.search_bar a{
    color: rgb(250, 195, 14)
}
.search_bar span{
    color: black
}
.search_bar form{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(44, 44, 44);
}
.menu{
    /* height: 40px; */
    width: 970px;
    background: rgb(72, 126, 171)
}
    .menu ul{
        vertical-align: center;
        padding: 10px;
    }
    .menu li{
        display: inline-block;
        margin: 0px 0px 0px 80px;
        vertical-align: top;

    }
    .menu ul li a{
        color:white;
        text-decoration: none;
        
    }
main{
    height: 450px;
    display: inline-block;
    
}
    .main_files ul{
        height: 0px;
        list-style: none;
        align-content: center;
    }
    
    .main_files ul li a{
        color:white;
        font-size: 12px;
        align-content: center;
        margin: 0px 0px 0px 100px;
        height: 0px;
    }
    .main_files li a::before{
        content: "»";
        color: rgb(250, 234, 8);
        margin: 5px;
        text-decoration: none;

    }
    .main_files p{
        text-align: center;
        font-size: 12px;
        margin: 0px 0px 0px 280px;
        vertical-align: top;
        
                
    }
    .zenlines{
        text-align: center;
        font-style: italic;
        margin: 0px 0px 0px 280px;
        
    }
    .zenlines ul li{
        color: rgb(250, 203, 14);
        font-size: 16px;
        list-style: none;
    }
    .zenlines p{
        font-size: 14px;
        margin: 0px 0px 0px 0px;
        padding: 90px 0px 0px 0px;
        
    }

.startapplications{
        background: white;
        height: 280px;
        padding: 15px;
        margin: 15px 0px 0px 0px;
}
    .startapplications h4{
        color: black;
        text-align: center;
}        
.started{
    display: inline-block;
    height: 280px;
    width: 460px;
    text-align: center; 
}
.started p{
    color: black;
    text-align: center; 
       
}
.started ul{
    list-style: none;
}

.started li{
    color: rgba(0, 132, 255, 0.986);
}
.started li::before{
    content: "•";
    color: black;
    margin: 10px;
}
.application{
    display: inline-block;
    height: 280px;
    width: 460px;
    text-align: center; 
    
}
.application span{
    color: rgba(0, 132, 255, 0.986);
}
.application p{
    color: black
}

.application ul{
    list-style: none;
}
.application li{
    color: rgba(0, 132, 255, 0.986)
}
.application li::before{
    content: "•";
    color: black;
    margin: 10px;
    
}

footer{
    height: 97px;
    display: inline-block;
     
    }
    footer p{
        display: inline-block;
        margin: 40px 0px 0px 140px;    
                
    }
    footer p a{
        text-decoration: none;
        color: rgba(0, 132, 255, 0.986);
        font-size: 12px;
    }

copyright{
    font-size: 8px;
    text-align: center;    
}
    copyright p{
        color: rgba(176, 203, 236, 0.719)
    }