*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    outline: 1px dashed red;
    color: white;
}
.wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: rgba(38, 81, 117, 0.932);
    padding: 0px; 
}
header{
    height: 150px;
}
.search{
    height: 110px;
}
    a{
        color:yellow;
    }
    .textsize{
        height: 18px;
        padding: 6px;
    }
    .textsize p{
        margin: 0px 0px 0px 790px;
        font-size: 11px;
    }
    .searchgo{
        height: 60px;
    }
    .searchgo img{
        margin: 0px 0px 0px 15px;
    }
        .search_bar {
            margin: 0px 0px 0px 754px;
            
        }
    .logo{

    }
.menu{
    height: 40px;
    width: 970px;
    background: rgb(72, 126, 171)
}
    .menu li{
        display: inline-block;
        margin: 0px 0px 0px 80px;
        vertical-align: top;

    }
    .menu ul li a{
        color:white;
        text-decoration: none;
        
    }
main{
    height: 450px;
    display: inline-block;
    
}
    .main_files ul{
        height: 0px;
    }
    .main_files ul li a{
        color:white;
        font-size: 12px;
        align-content: center;
        margin: 0px 0px 0px 100px;
        height: 0px;
    }
    .main_files p{
        text-align: center;
        font-size: 12px;
        margin: 0px 0px 0px 280px;
        vertical-align: top;
        
                
    }
    .zenlines{
        text-align: center;
        font-style: italic;
        margin: 0px 0px 0px 280px;
        
    }
    .zenlines ul li{
        color: yellow;
        font-size: 16px;
        list-style: none;
    }
    .zenlines p{
        font-size: 14px;
        margin: 0px 0px 0px 0px;
        padding: 90px 0px 0px 0px;
        
    }

.startapplications{
        background: white;
        height: 285px;
}        
.started{
    display: inline-block;
    height: 280px;
    width: 460px;
    background: red;
}

.application{
    display: inline-block;
    height: 280px;
    width: 460px;
    background: rgb(208, 255, 0);
    
}

footer{
    height: 97px;
    display: inline-block;
     
    }
    footer p{
        display: inline-block;
        margin: 40px 0px 0px 140px;    
                
    }
    footer p a{
        text-decoration: none;
        color: rgba(0, 132, 255, 0.986);
        font-size: 12px;
    }

copyright{
    font-size: 8px;
    text-align: center;    
}
    copyright p{
        color: rgba(176, 203, 236, 0.719)
    }