*{
margin: 0;
padding: 0px;
/* border: 1px dotted red; */
font-family: Helvetica;
}
#square{
    width: 140px;
    height: 140px;
    background: blue;
}
#circle{
    width: 140px;
    height: 140px;
    border-radius: 500px;
    background: blue;
}
#triangle{
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;    
}
#pacman {
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-top: 50px solid blue;
    border-left: 50px solid blue;
    border-bottom: 50px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }